.Copy-Text {
  .Copy-Message {
    display: inline-block;
    margin-top: 32px;
    font-size: 18px;
    font-weight: 700;
    // color: #3c8ec6;
    color: #9b9b9b;
    transition: opacity 0.2s ease-in-out;

    &.hidden {
      opacity: 0;
    }
  }
  .Copy-Text-Button {
    float: right;
    margin-top: 25px;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 15px 25px 18px 25px;
    border-radius: 100px;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    background-color: #f5b81b;
    &:hover {
      background-color: #c99613;
    }
  }
}
