.Game {
  background-color: #236b36;
  overflow: auto;
  height: calc(100vh - 100px);
  .Card > img {
    box-shadow: -5px 0px 10px rgba(68, 68, 68, 0.39);
  }

  .Opponents-Cards {
    position: absolute;
    left: 50%;
    margin-top: -50px;
  }
  .Played-Cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px;
    padding-right: 110px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 460px);

    &:hover {
      background-color: rgba(255, 255, 255, 0.527);
      cursor: pointer;
    }
    .Card {
      margin-left: -20px;
      img {
        box-shadow: -5px 0px 10px rgba(68, 68, 68, 0.39);
      }
    }
    .place {
      position: relative;
      height: 140px;
      width: 100px;
      z-index: 100;
      border-radius: 10px;
      &.up {
        margin-left: -50px;
      }
      &.down {
        margin-right: -70px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.527);
        cursor: pointer;
      }
    }
    .set,
    .subset {
      display: flex;
      width: fit-content;
      &.theirs {
        opacity: 0.7;
      }
    }
    .subset {
      margin-left: 40px;
    }
  }

  .Pickup-And-Discard {
    display: flex;
    height: 160px;
    position: fixed;
    padding-left: 120px;
    bottom: 190px;
    width: 100%;
    align-content: center;
    align-items: center;
    .Deck {
      margin-right: 40px;
      &:hover {
        cursor: pointer;
      }
    }
    .Discard {
      display: flex;
      align-content: center;
      align-items: center;
      .Card {
        transition: margin-bottom 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
        }
        &.clicked {
          margin-bottom: 20px;
        }
      }
      .place {
        position: relative;
        height: 140px;
        width: 100px;
        z-index: 100;
        border-radius: 10px;
        margin-left: -50px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.527);
          cursor: pointer;
        }
      }
    }
  }

  .Player-Cards {
    display: flex;
    height: 190px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #183b21;
    .Card {
      transition: margin-bottom 0.2s ease-in-out;
      margin-bottom: 0;
      &:hover {
        cursor: pointer;
      }
      &.clicked {
        margin-bottom: 20px;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: #2b5837;
    }
  }
}
