.Game {
  user-select: none;
  background-color: #236b36;
  overflow: auto;
  height: calc(100vh - 100px);
  .Card {
    box-shadow: -5px 0px 10px rgba(68, 68, 68, 0.39);
  }

  .tip {
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
  }

  .Opponents-Cards-Container {
    position: absolute;
    margin: -150px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    .Opponents-Cards {
      display: flex;
      margin-left: 50px;
      .Card {
        margin-left: -50px;
      }
    }
  }
  .Rummy-Container {
    position: absolute;
    margin: -100px auto;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.288);
    .Rummy-Popup {
      background-color: #f3f3f3;
      margin-top: 130px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 35px;
      border-radius: 10px;
      height: fit-content;
      width: fit-content;
      .Header {
        font-size: 30px;
        color: #444444;
        font-weight: bold;
      }
      .Put-Back {
        font-size: 50px;
        background-color: rgba(68, 68, 68, 0.39);
        color: white;
        border-radius: 10px;
      }
      .Message {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: #444444;
        margin-top: 25px;
        padding-bottom: 10px;
      }
      .Sub-Message {
        font-size: 30px;
      }
      .Card {
        margin-left: -10px;
        width: 60px;
        border-radius: 5px;
      }
      .cards {
        display: flex;
      }
      .Possible-Rummy-Button {
        background-color: #236b36;
        padding: 10px 10px 10px 20px;
        border-radius: 10px;
        .top,
        .bottom {
          display: flex;
        }
        .text-keep,
        .text {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0.5px;
          padding-right: 15px;
          padding-left: 5px;
          line-height: 80px;
        }

        .text-keep {
          padding-left: 20px;
        }
      }
    }
  }

  .Played-Cards-Background {
    height: calc(100vh - 470px);
    position: absolute;
    margin-left: 120px;
    margin-right: 120px;
    width: calc(100vw - 240px);
    border-radius: 10px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.212);
      cursor: pointer;
    }
  }

  .Played-Cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-right: 120px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 470px);
    div {
      z-index: 300;
    }
    .Card {
      z-index: 10;
      margin-left: -20px;
      box-shadow: -5px 0px 10px rgba(68, 68, 68, 0.39);
    }
    .set,
    .subset-inner {
      display: flex;
      width: fit-content;
    }
    .set {
      margin: 7px 0;
      :first-child {
        margin-left: 0;
      }
    }
    .container {
      display: flex;
      height: 130px;
      z-index: 30;
      align-content: center;
      align-items: center;
      padding: 12px 15px;
      border-radius: 10px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.329);
        cursor: pointer;
      }
    }
    .subset {
      z-index: 30;
      background-color: #236b36;
      border-radius: 10px;
      margin-left: 10px;
      .subset-inner {
        &.theirs {
          opacity: 0.7;
        }
      }
    }
  }

  .Pickup-And-Discard {
    display: flex;
    height: 160px;
    position: fixed;
    padding-left: 145px;
    bottom: 175px;
    width: 100%;
    align-content: center;
    align-items: center;
    z-index: 30;
    .under-deck {
      position: absolute;
      margin: 1px 0 0 10px;
      z-index: -1;
    }
    .Deck {
      padding: 10px 10px 5px 10px;
      margin-right: 40px;
      border-radius: 10px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.329);
        cursor: pointer;
      }
    }
    .Discard {
      display: flex;
      align-content: center;
      align-items: center;
      padding: 12px 80px 12px 26px;
      border-radius: 10px;
      height: 125px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.329);
        cursor: pointer;
      }
      :first-child {
        margin-left: 0;
      }
      .Card {
        transition: margin-bottom 0.2s ease-in-out;
        z-index: 10;
        margin-left: -15px;
        &:hover {
          cursor: pointer;
        }
        &.clicked {
          margin-bottom: 30px;
        }
        &.also-dragging {
          transition: opacity 0.3s ease-in-out, margin-left 0.3s ease-in-out,
            margin-right 0.3s ease-in-out !important;
          opacity: 0 !important;
          margin-bottom: 30px !important;
          margin-right: -100px !important;
        }
      }
    }
  }

  .Player-Cards {
    display: flex;
    height: 170px;
    margin: 200px 0 0 0;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #183b21;
    .turn {
      left: 15px;
      margin-top: -85px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      background-color: white;
      width: 120px;
      height: 120px;
      border-radius: 100px;
      .inner {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        height: fit-content;
      }
      box-shadow: -5px 0px 10px rgba(68, 68, 68, 0.39);
    }
    .Player-Hand {
      display: flex;
      align-content: center;
      align-items: center;
      padding: 10px 75px 10px 85px;
      border-radius: 10px;
      height: 125px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.329);
        cursor: pointer;
      }
    }
    .Card {
      transition: margin-bottom 0.2s ease-in-out;
      margin-bottom: 0;
      margin-left: -15px;
      z-index: 50;
      &:hover {
        cursor: pointer;
      }
      &.clicked {
        margin-bottom: 30px;
      }
      &.also-dragging {
        transition: opacity 0.3s ease-in-out, margin-left 0.3s ease-in-out,
          margin-right 0.3s ease-in-out !important;
        opacity: 0 !important;
        margin-bottom: 30px !important;
        margin-right: -100px !important;
      }
    }
  }
}
