.Game {
  background-color: #236b36;
  overflow: auto;
  height: calc(100vh - 100px);
  .Card > img {
    box-shadow: -5px 0px 10px rgba(68, 68, 68, 0.39);
  }

  .Opponents-Cards-Container {
    position: absolute;
    margin: -150px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    .Opponents-Cards {
      display: flex;
      .Card {
        margin-left: -60px;
      }
    }
  }
  .Rummy-Container {
    position: absolute;
    margin: -100px auto;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.288);
    .Rummy-Popup {
      background-color: #f3f3f3;
      margin-top: 130px;
      padding: 20px;
      border-radius: 10px;
      height: fit-content;
      .Header {
        font-size: 70px;
        color: #444444;
        font-weight: bold;
      }
      .Put-Back {
        font-size: 50px;
        background-color: rgba(68, 68, 68, 0.39);
        color: white;
        border-radius: 10px;
      }
      .Message {
        font-size: 50px;
        color: #444444;
        margin-top: 10px;
      }
      .Sub-Message {
        font-size: 30px;
      }
      .Card {
        margin-left: -10px;
        img {
          width: 60px;
        }
      }
      .cards {
        display: flex;
      }
      .Possible-Rummy-Button {
        background-color: rgba(68, 68, 68, 0.39);
        padding: 10px 10px 5px 20px;
        border-radius: 10px;
        .top,
        .bottom {
          display: flex;
        }
        .text {
          font-size: 30px;
          padding-right: 15px;
          padding-left: 5px;
          line-height: 80px;
        }
      }
    }
  }

  .Played-Cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px;
    padding-right: 110px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 460px);

    &:hover {
      background-color: rgba(255, 255, 255, 0.527);
      cursor: pointer;
    }
    .Card {
      margin-left: -20px;
      img {
        box-shadow: -5px 0px 10px rgba(68, 68, 68, 0.39);
      }
    }
    .place {
      position: relative;
      height: 140px;
      width: 100px;
      z-index: 50;
      border-radius: 10px;
      &.up {
        margin-left: -50px;
      }
      &.down {
        margin-right: -70px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.527);
        cursor: pointer;
      }
    }
    .set,
    .subset {
      display: flex;
      width: fit-content;
      &.theirs {
        opacity: 0.7;
      }
    }
    .subset {
      margin-left: 40px;
    }
  }

  .Pickup-And-Discard {
    display: flex;
    height: 160px;
    position: fixed;
    padding-left: 120px;
    bottom: 190px;
    width: 100%;
    align-content: center;
    align-items: center;
    .Deck {
      margin-right: 40px;
      &:hover {
        cursor: pointer;
      }
    }
    .Discard {
      display: flex;
      align-content: center;
      align-items: center;
      .Card {
        transition: margin-bottom 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
        }
        &.clicked {
          margin-bottom: 20px;
        }
      }
      .place {
        position: relative;
        height: 140px;
        width: 100px;
        z-index: 1;
        border-radius: 10px;
        margin-left: -50px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.527);
          cursor: pointer;
        }
      }
    }
  }

  .Player-Cards {
    display: flex;
    height: 190px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #183b21;
    .Card {
      transition: margin-bottom 0.2s ease-in-out;
      margin-bottom: 0;
      &:hover {
        cursor: pointer;
      }
      &.clicked {
        margin-bottom: 20px;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: #2b5837;
    }
  }
}
