.Header {
  &.BG-Gray {
    background-color: #272727;
  }
  &.BG-Green {
    background-color: #236b36;
  }
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a,
  button,
  .UserButton-Pane {
    z-index: 200;
  }
  .Title {
    margin-left: 140px;
    font-size: 45px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
  }
  .Login {
    margin-right: 140px;
    div {
      display: inline-block;
      &.LoginButton {
        margin-right: 70px;
      }
      button {
        display: inline-block;
        font-size: 30px;
        padding: 10px 40px 10px 40px;
        border-radius: 40px;
        &:hover {
          background-color: #707070;
        }
        div {
          font-weight: 400;
        }
      }
    }
  }
}
