.Home {
  background-color: #272727;
  overflow: auto;
  height: calc(100vh - 100px);
  .Home-Body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 110px;
    justify-content: flex-start;
    .Create-Game-Button {
      font-size: 26px;
      padding: 0;
      border: 2px dashed #909090;
      border-radius: 10px;
      color: #909090;
      margin: 10px 20px 175px 10px;
      width: 360px;
      height: 272px;
      &:hover {
        background-color: #707070a6;
        color: white;
      }
      .plus {
        font-size: 45px;
        font-weight: bolder;
        line-height: 30px;
      }
    }
    .Game-Button {
      padding: 0;
      font-size: 24px;
      width: 380px;
      height: 430px;
      border-radius: 10px;
      margin: 0 10px 25px 0;
      &:hover {
        background-color: #707070a6;
        color: white;
      }
      .Contents {
        .pattern {
          border-radius: 10px;
          margin: -5px 10px 10px 10px;
        }
        .Left {
          padding-left: 20px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
        }
        .Right {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .hide {
            visibility: hidden;
          }
          button {
            margin-right: 15px;
          }
          .Link-Button {
            padding: 10px 14px 10px 14px;
            border-radius: 100%;
            img {
              width: 25px;
            }
            &:hover {
              background-color: #313131;
            }
          }
        }
        .Versus {
          font-size: 30px;
          font-weight: 700;
        }
        .Timing {
          font-size: 17px;
        }
      }
    }
  }
  .PopUp {
    .Game-Link {
      padding: 15px 10px 15px 10px;
      border-radius: 5px;
      font-size: 20px;
      background-color: white;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }
  }
}
