.Home {
  background-color: #272727;
  overflow: auto;
  height: calc(100vh - 100px);
  .Home-Body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: flex-start;
    .Create-Game-Button {
      font-size: 24px;
      margin-right: 40px;
      border: 2px dashed #909090;
      border-radius: 10px;
      color: #909090;
      width: 350px;
      height: 280px;
      &:hover {
        background-color: #707070a6;
        color: white;
      }
    }
    .Game-Button {
      font-size: 24px;
      width: 350px;
      height: 424px;
      border-radius: 10px;
      margin-right: 40px;
      &:hover {
        background-color: #707070a6;
        color: white;
      }
      .Contents {
        .Left {
          width: 100%;
          display: flex;
          justify-content: flex-start;
        }
        .Right {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
        .Versus > button {
          font-size: 30px;
          padding-right: 20px;
          padding-left: 20px;
          padding-bottom: 3px;
          border-radius: 40px;
          &:hover {
            background-color: #464545;
          }
        }
        .Timing {
          padding-left: 20px;
        }
      }
    }
  }
  .PopUp {
    .Game-Link {
      padding: 15px 10px 15px 10px;
      border-radius: 5px;
      font-size: 20px;
      background-color: white;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }
  }
}
