.Home {
  background-color: #272727;
  overflow: auto;
  height: calc(100vh - 100px);
  .Home-Body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 110px;
    justify-content: flex-start;
    .Create-Game-Button {
      font-size: 24px;
      margin-right: 40px;
      border: 2px dashed #909090;
      border-radius: 10px;
      color: #909090;
      margin: 20px 25px 15px 15px;
      width: 348px;
      height: 263px;
      &:hover {
        background-color: #707070a6;
        color: white;
      }
    }
    .Game-Button {
      font-size: 24px;
      width: 390px;
      height: 424px;
      border-radius: 10px;
      margin: 0 10px 25px 0;
      &:hover {
        background-color: #707070a6;
        color: white;
      }
      .Contents {
        .pattern {
          border-radius: 10px;
          margin: 15px;
        }
        .Left {
          padding-left: 20px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
        }
        .Right {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .Link-Button {
            margin-right: 10px;
            padding: 10px 14px 10px 14px;
            border-radius: 100%;
            img {
              width: 25px;
            }
            &:hover {
              background-color: #313131;
            }
          }
        }
        .Versus > button {
          font-size: 30px;
          padding-right: 20px;
          padding-left: 20px;
          padding-bottom: 3px;
          border-radius: 40px;
          &:hover {
            background-color: #464545;
          }
        }
        .Timing {
          font-size: 17px;
        }
      }
    }
  }
  .PopUp {
    .Game-Link {
      padding: 15px 10px 15px 10px;
      border-radius: 5px;
      font-size: 20px;
      background-color: white;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }
  }
}
