.JoinGame {
  background-color: #236b36;
  overflow: auto;
  height: calc(100vh - 100px);

  .Invite-Box {
    width: 800px;
    height: 150px;
    margin: 0 auto;
    margin-top: 160px;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    background-color: #f3f3f3;

    .Join-Game-Button, .Decline-Game-Button {
      float: right;
      color: #444444;
      font-weight: bold; 
      font-size: 20px;
      line-height: 20px;
      border-radius: 100px;
      padding: 10px 20px 10px 20px;
      &:hover {
        background-color: #f5b81b;
      }
    }

    .Message {
      color: #444444;
      font-weight: bold;
      font-size: 30px;
    }
  }
}

