.JoinGame {
  background-color: #236b36;
  overflow: auto;
  height: calc(100vh - 100px);

  .Invite-Box {
    width: 800px;
    height: 120px;
    margin: 0 auto;
    margin-top: 160px;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    background-color: #f3f3f3;

    .Join-Game-Button,
    .Decline-Game-Button {
      float: right;
      font-size: 25px;
      line-height: 25px;
      border-radius: 100px;
      padding: 10px 20px 10px 20px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
      background-color: #f5b81b;
      &:hover {
        background-color: #c99613;
      }
    }
    .Decline-Game-Button {
      margin-right: 20px;
    }

    .Message {
      color: #444444;
      font-weight: bold;
      font-size: 30px;
      padding-bottom: 30px;
    }
  }
}
