.Landing {
  background-color: #272727;
  overflow: hidden;
  height: calc(100vh - 100px);
  display: flex;
  .Landing-Left {
    width: calc(50vw - 140px);
    padding-left: 140px;
    padding-top: 10vh;
    .Text {
      font-size: 70px;
      font-weight: bold;
      color: #ffffff;
    }
    .SignupButton {
      padding-top: 60px;
      button {
        background-color: #f5b81b;
        display: inline-block;
        font-size: 60px;
        padding: 0px 50px 10px 50px;
        border-radius: 100px;
        &:hover {
          background-color: #c99613;
        }
        div {
          text-shadow: 0px 3px 6px #0000004d;
        }
      }
    }
  }
  .Landing-Right {
    padding-right: 140px;
    height: fit-content;
    .LandingSVG {
      width: calc(50vw - 100px);
    }
  }
}
