.PopUp-Overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  background-color: rgba(30, 30, 30, 0.4);
  top: 0;
  &.visible {
    display: flex;
    justify-content: center;
  }
  .PopUp {
    width: 500px;
    height: fit-content;
    margin-top: 160px;
    padding: 50px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: rgb(167, 167, 167);
    .Message {
      text-align: center;
    }
  }
}
