@charset 'UTF-8';

@import "./Header.scss";
@import "./Landing.scss";
@import "./Home.scss";
@import "./PopUp.scss";
@import "./CopyTextButton.scss";

* {
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

button:hover {
  cursor: pointer;
}
