@charset 'UTF-8';

@import './Header.scss';
@import './Landing.scss';
@import './Home.scss';
@import './Game.scss';
@import './JoinGame.scss';
@import './PopUp.scss';
@import './Card.scss';
@import './CopyTextButton.scss';
@import './DeleteButton.scss';
@import './UserButton.scss';
@import './red-hat-font.scss';

@include printRedHatFont(300, 'Regular', $familyName: 'RedHatDisplay');
@include printRedHatFont(
  300,
  'Italic',
  $style: 'italic',
  $familyName: 'RedHatDisplay'
);
@include printRedHatFont(400, 'Medium', $familyName: 'RedHatDisplay');
@include printRedHatFont(
  400,
  'MediumItalic',
  $style: 'italic',
  $familyName: 'RedHatDisplay'
);
@include printRedHatFont(700, 'Bold', $familyName: 'RedHatDisplay');
@include printRedHatFont(
  700,
  'BoldItalic',
  $style: 'italic',
  $familyName: 'RedHatDisplay'
);

* {
  font-family: 'RedHatDisplay', sans-serif;
  font-weight: 300;
}

*::-webkit-scrollbar-track {
  background-color: #272727;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

*::-webkit-scrollbar-corner {
  background: #272727;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

button:hover {
  cursor: pointer;
}
